.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 30px 0px;

    .nav-links{
        display: flex;

        & *:not(:last-child){margin-right: 20px;}

        font-size: small;
        a{color: #a1a1a1;}
        text-transform: uppercase;
    }
}