.btn{
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-primary{
    padding: 10px 15px;
    background-color: #28a745;
    &:hover{
        background-color: darken(#28a745, 4);
    }
}
.btn-danger{
    display: inline-block;
    background-color: #dc3545;
    &:hover{
        background-color: darken(#dc3545, 6);
    }

}