.cart-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 100;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 40%;
    min-height: 30%;

    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 
        0px 0px 0.5px rgba(0, 0, 0, 0.055),
        0px 0px 4px rgba(0, 0, 0, 0.11);

    .modal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-head{
        th{border-bottom: 1px #e0e0e0 solid;}
    }
    .modal-items{
        width: 100%;
        & *{padding: 0px 10px;}
        .img-container{height: 50px; width: 50px; overflow: hidden;}
        img{object-fit: cover; height: 50px; width: 50px;}
    }
    .quantity{
        display: flex;
        width: 30px;
        padding: 0;
        text-align: center;
        outline: none;
        .plusMinus{
            cursor: pointer;
            width: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;
            background-color: #28a745;
        }
    }
    .modal-footer{text-align: end;}
}