@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    background: #fcffff;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    color: #33404f;
    font-size: x-large;
}

.overlay{
    z-index: 99;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background: #33404f;
    backdrop-filter: blur(20px);
}