@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    background: #fcffff;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
.logo{
    color: #33404f;
    font-size: x-large;
}

.overlay{
    z-index: 99;

    position: absolute;
    height: 100vh;
    width: 100vw;
    
    opacity: 0.8;
    background: #33404f;
    backdrop-filter: blur(20px);
}

.hidden,
.hidden *{
    display: none !important;
}
.close,
#cart{
    cursor: pointer;
}